gapbs/experiments/pf-statistics-SATA/results/
gapbs/experiments/pf-statistics-improved/results/
gapbs/experiments/pf-statistics/results/
gapbs/experiments/results/outputs/
gapbs/experiments/results/results/

micro-benchmark/.venv/
micro-benchmark/bin/
micro-benchmark/figures/
micro-benchmark/papers-results-raw/
micro-benchmark/results-raw/
micro-benchmark/results/